---
layout: base.njk
title: All Recipes
permalink: /tags/

---
<div class="title">Tags</div>

<ul class="recipe-list">
{% for name, posts in collections %}
    {# Filter out internal 11ty collections #}
    {% if name !== "all" and name !== "recipe" %}
      <li>
        <a class="recipe-items" href="/tags/{{ name | slugify }}/">
          {{ name }} ({{ posts.length }})
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>